.headercontainer{
background-color: black;
height: calc(50px + 2vh);
}
.logomyworld{
    float: left;
    margin-left: 4vw;
    margin-top:10px;
    width: calc(30px +  1vw);
    height: calc(30px +  1vw);
    background-image: "file:logomyworld2.jpg";
}
.titletext{
    font-family: 'Roboto', sans-serif;
    top:50%;
    bottom: 50%;
    font-size: calc(20px + 1vw);
}
.title{
   
    color: #f0f8ff;
    float: left;
    margin-left: 1vw;
    vertical-align: center;
    top:50%;
    bottom: 50%;
   
    
}
.icons{
   
    float:right;
    top:50%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.planeIcon{
    margin-right: 30px;
}
.LinkedinIcon , .planeIcon, .twitterIcon{
    padding: 15px;
    
    color: white;
}

.socialmediaicons
{
    font-size: calc(20px + 1vw);
   
}