/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  text-align: center;
  background-color:#EE7D3C;
} */

body{
  background-image: linear-gradient(to right, #5F77C5 0%,#C17A9A 33%, #EE7D3C 67%, #EAAC00 100%);
}
h1, p, input, span, label{
  color : white;
}

.multi-color-text {
  background: linear-gradient(to right, #5F77C5 0%,#C17A9A 33%, #EE7D3C 67%, #EAAC00 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  /* background-image: linear-gradient(to right, #5F77C5 0%,#C17A9A 33%, #EE7D3C 67%, #EAAC00 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: white; */
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}


.bg-transparent{
  background-color : transparent;
}
.imgwhli{
  width: 50%;
   height: 50%;
}
.imgwhtw{
  width: 100%;
   height: 100%;
}
.imgwhtg{
  width: 100%;
   height: 100%;
}

/* .btn{
  color: white;
  background-color: white;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
} */
 
.messages{
  display: flex;
  /* justify-content: center; */
}
 
.error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
 
.success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
}


.signuplink a:link {
  color: black;
  text-decoration: none;
}
.signuplink a:visited {
  color: black;
  text-decoration: none;
}
.signuplink a:hover {
  color: red;
  text-decoration: underline;
}
.signuplink a:active {
  color: yellow;
  text-decoration: underline;
}




::placeholder { color: white;  opacity: 1; /* Firefox */}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

select {
  color: white; 
}
option {
    color: black;  
  }

input {font-weight:bold;}