ul {
  list-style-type: none;
 }


.container{
  color: #eee;
}

.items2,.items3{
  margin-top: 20px;
}


.timetext{
  margin-left: 30px;
  
  font-size: 30px;
}

.logoicon,.logoiconlast,.logoiconl,.logoiconf{
  content: '';
  margin-right: 40px;
  display: inline-block;
  width: 20px;
  height: 20px;
  outline:solid 2px white;
  z-index: 1;
}
.container ul{
  margin-top:25px;
 
}    

.items3{
  margin-bottom: 70px;
}
.biggerlogoicon,.biggerlogoiconlast{
  content: '';
  margin-right: 60px;
  margin-left: 20px;
  display: inline-block;
  width: 50px;
  margin-top: 10px;
  height: 50px;
  outline:solid 2px white;
  z-index: 1;
  
  
}    
.innerText{
  font-size: 35px;
  margin-left:5px;
  color: white;
}
.biggerlogoicon::after{
  content: ''; 
     position: absolute;
      height:228px;
      margin-left:22px;
      width: 3px;
      background-color: rgb(255, 255, 255);   

}
.biggerlogoiconlast::after{
  content: ''; 
     position: absolute;
      height:190px;
      margin-left:22px;
      width: 3px;
      background-color: rgb(255, 255, 255);   
}


.numberText{
  color: white;
  float: left;
  margin-top: 10px;
  margin-left: 50px;
}


.li{
  display: inline;
}
